{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            用户与分组
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal">
            <i class="fa fa-plus"></i> 新建分组</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            还没有创建分组，现在就开始创建吧！
        </div>
    </div>
    <div class="row">
        <table id="groupTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>成员数</th>
                    <th>更新时间</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="groupModalLabel">新建分组</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="name">名称：</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="group.name" placeholder="分组名称" id="name"
                        autofocus />
                </div>
                <div class="form-group">
                    <span class="btn btn-danger btn-file" data-toggle="tooltip" data-placement="right"
                        title="支持 CSV 文件" id="fileUpload">
                        <i class="fa fa-plus"></i> 批量导入用户
                        <input type="file" id="csvupload" multiple>
                    </span>
                    <span id="csv-template" class="text-muted small">
                        <i class="fa fa-file-excel-o"></i> 下载 CSV 模板</span>
                </div>
                <div class="row">
                    <form id="targetForm">
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="名" id="firstName">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="姓" id="lastName">
                        </div>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" placeholder="邮箱" id="email" required>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="职位" id="position">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-danger btn-lg">
                                <i class="fa fa-plus"></i> 添加</button>
                        </div>
                    </form>
                </div>
                <br />
                <table id="targetsTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>名</th>
                            <th>姓</th>
                            <th>邮箱</th>
                            <th>职位</th>
                            <th class="no-sort"></th>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">保存更改</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/groups.min.js"></script>
{{end}}
