{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        发送配置
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal"><i class="fa fa-plus"></i> 新建配置</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            还没有创建发送配置，现在就开始创建吧！
        </div>
    </div>
    <div class="row">
        <table id="profileTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-4">名称</th>
                    <th>接口类型</th>
                    <th>最后更新时间</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="profileModalLabel">新建发送配置</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="name">名称：</label>
                        <input type="text" class="form-control" placeholder="配置名称" id="name" autofocus />
                        <label class="control-label" for="interface_type">接口类型：</label>
                        <input type="text" class="form-control" value="SMTP" id="interface_type" disabled />
                        <label class="control-label" for="from">SMTP From：<i class="fa fa-question-circle"
                                data-toggle="tooltip" data-placement="right" title="建议设置为发送域名内的邮箱地址以绕过 SPF 检查。Envelope Sender 可在邮件模板中设置并显示给用户。"></i></label>
                        <input type="text" class="form-control" placeholder="test@example.com" id="from"
                            required />
                        <label class="control-label" for="host">主机：</label>
                        <input type="text" class="form-control" placeholder="smtp.example.com:25" id="host" required />
                        <label class="control-label" for="username">用户名：</label>
                        <input type="text" class="form-control" placeholder="用户名" id="username" />
                        <label class="control-label" for="password">密码：</label>
                        <input type="password" class="form-control" placeholder="密码" id="password" />
                        <div class="checkbox checkbox-primary">
                            <input id="ignore_cert_errors" type="checkbox" checked>
                            <label for="ignore_cert_errors">忽略证书错误 <i class="fa fa-question-circle"
                                    data-toggle="tooltip" data-placement="right" title="忽略自签名等证书错误（可能暴露于中间人攻击，请谨慎使用）。"></i></label>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <label class="control-label input-group">邮件头：</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerKey" id="headerKey" placeholder="X-Custom-Header">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headerValue" id="headerValue" placeholder='{{"{{"}}.URL{{"}}"}}-gophish'>
                        </div>
                        <div class="col-md-2">
                            <button id="addCustomHeader" class="btn btn-danger btn-headers" type="button"><i class="fa fa-plus"></i> 添加
                                自定义头</button>
                        </div>
                    </fieldset>
                    <table id="headersTable" class="table table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>头字段</th>
                                <th>值</th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button type="button" data-toggle="modal" data-backdrop="static" data-target="#sendTestEmailModal"
                        class="btn btn-primary"><i class="fa fa-envelope"></i> 发送测试邮件</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()">取消</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">保存配置</button>
            </div>
        </div>
    </div>
</div>
<!-- Send Test Email Modal -->
<div class="modal" id="sendTestEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="sendTestEmailModalTitle">发送测试邮件</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="sendTestEmailModal.flashes"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label" for="to">发送测试邮件到：</label>
                    </div>
                    <br>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="名" name="to_first_name">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="姓" name="to_last_name">
                    </div>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" placeholder="邮箱" name="to_email" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="职位" name="to_position">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary" id="sendTestModalSubmit" onclick="sendTestEmail()"><i
                        class="fa fa-envelope"></i> 发送</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/sending_profiles.min.js"></script>
{{end}}
