{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="page-titlebar">
        <h1 class="page-header">邮件模板</h1>
        <div class="page-actions">
            <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
                data-target="#modal"><i class="fa fa-plus"></i> 新建模板</button>
        </div>
    </div>
    <div id="flashes" class="row"></div>
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            还没有模板，现在就开始创建吧！
        </div>
    </div>
    <div class="row">
        <table id="templateTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>更新时间</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="templateModalLabel">新建模板</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="name">名称：</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="template.name" placeholder="模板名称" id="name"
                        autofocus />
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-target="#importEmailModal"><i
                            class="fa fa-envelope"></i>
                        导入邮件</button>
                </div>
                <label class="control-label" for="envelope-sender">发件人显示名：<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="该发件人会显示在大多数邮件客户端中，默认使用发送配置中设置的 SMTP From。"></i></label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Last <test@example.com>" id="envelope-sender" />
                </div>
                <label class="control-label" for="subject">主题：</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="邮件主题" id="subject" />
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="text"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">纯文本</a></li>
                    <li role="html"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="text">
                        <textarea rows="10" id="text_editor" class="gophish-editor form-control" placeholder="纯文本内容"></textarea>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="html">
                        <textarea id="html_editor"></textarea>
                    </div>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="use_tracker_checkbox" type="checkbox" checked>
                    <label for="use_tracker_checkbox">添加跟踪图片</label>
                </div>
                <span class="btn btn-danger btn-file"><i class="fa fa-plus"></i> 添加附件
                    <input id="attachmentUpload" type="file" onchange="attach(this.files)" multiple>
                </span>
                <br />
                <br />
                <table id="attachmentsTable" class="table">
                    <thead>
                        <tr>
                            <th class="col-md-1 no-sort"></th>
                            <th class="col-md-10">名称</th>
                            <th class="col-md-1 no-sort"></th>
                            <th class="datatable_hidden no-sort">内容</th>
                            <th class="datatable_hidden no-sort">类型</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()">取消</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">保存模板</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="importEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Email Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importEmailModalLabel">导入邮件</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="email">邮件内容：</label>
                <div class="form-group">
                    <textarea rows="10" id="email_content" class="gophish-editor form-control" placeholder="原始邮件源内容"></textarea>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="convert_links_checkbox" type="checkbox" checked>
                    <label for="convert_links_checkbox">将链接替换为落地页</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary" id="modalSubmit" onclick="importEmail()">导入</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/src/vendor/ckeditor/ckeditor.js"></script>
<script src="/js/src/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/dist/app/autocomplete.min.js"></script>
<script src="/js/dist/app/templates.min.js"></script>
{{end}}
